In [56]:
import pandas as pd
df = pd.read_csv('C:\\Users\\USER\\Downloads\\MELBOURNE_HOUSE_PRICES_LESS.csv')
df.head()

,Rooms,Price,Method,SellerG,Date,Postcode,Propertycount,Distance
0,3,1490000.0,S,Jellis,1/4/2017,3067,4019,3.0
1,3,1220000.0,S,Marshall,1/4/2017,3067,4019,3.0
2,3,1420000.0,S,Nelson,1/4/2017,3067,4019,3.0
3,3,1515000.0,S,Barry,1/4/2017,3040,1543,7.5
4,2,670000.0,S,Nelson,1/4/2017,3042,3464,10.4

In [ ]:
# df.tail()

In [58]:
df.iloc[100]

Rooms                   3
Price            1.12e+06
Method                  S
SellerG            Nelson
Date             1/4/2017
Postcode             3056
Propertycount       11918
Distance              5.2
Name: 100, dtype: object

In [59]:
df.iloc[3]

Rooms                    3
Price            1.515e+06
Method                   S
SellerG              Barry
Date              1/4/2017
Postcode              3040
Propertycount         1543
Distance               7.5
Name: 3, dtype: object

In [60]:
df.columns

Index(['Rooms', 'Price', 'Method', 'SellerG', 'Date', 'Postcode',
       'Propertycount', 'Distance'],
      dtype='object')

In [61]:
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error

In [66]:
df.dropna(axis=0,how='any',thresh=None,subset=None,inplace=True)

In [68]:
df.dropna(axis=0,how='any',thresh=None,subset=None,inplace=True)

In [70]:
X=df.drop('Price',axis=1)
y= df['Price']

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,shuffle=True)

In [72]:
model = ensemble.GradientBoostingRegressor(n_estimators = 150, learning_rate =0.1, max_depth=30,min_samples_split = 4, min_samples_leaf=6,max_features=0.6,loss = 'huber')

In [73]:
model.fit(X_train,y_train)

GradientBoostingRegressor(loss='huber', max_depth=30, max_features=0.6,
                          min_samples_leaf=6, min_samples_split=4,
                          n_estimators=150)

In [74]:
mae_train = mean_absolute_error(y_train,model.predict(X_train))
print("Training set mean absolute Error: %.2f"%mae_train)

Training set mean absolute Error: 191677.75

In [75]:
mae_train = mean_absolute_error(y_train,model.predict(X_train))
print("Training set mean absolute Error: %.2f" % mae_train)

Training set mean absolute Error: 191677.75

In [76]:
model.fit(X_train,y_train)
mae_train = mean_absolute_error(y_train,model.predict(X_train))
print("Training set mean absolute Error: %.2f"%mae_train)

Training set mean absolute Error: 191678.72

In [77]:
mae_test = mean_absolute_error(y_test,model.predict(X_test))
print("Test set mean absolute error: %.2f" % mae_test)

Test set mean absolute error: 201275.63